/* Estilos principais para o site */
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1900px;
}

h1 {
    color: #007bff;
}

/* Botão de cadastro */
.btn-primary {
    display: block;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilo do formulário */
#form {
    margin-top: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1800px;
}

/* Tabela */
.table {
    width: 100%;
    font-size: 1.5em;
}

.table td {
    padding-top: 10px !important;
    text-align: center;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table td, .table th {
    border-bottom: solid 0.3px rgb(179, 179, 179);
    text-align: center;
}

th {
    min-width: 150px;
}

/* Ações */
.acoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
}

.muda_status i, .edit i {
    cursor: pointer;
}

.muda_status i:hover {
    color: #007bff;
}

.edit i:hover {
    color: #28a745;
}

.acoes i {
    font-size: 1.8em;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.acoes i:hover {
    color: #007bff;
}

.muda_status .inativo i {
    color: #28a745; /* Verde para ativo */
}

.muda_status .ativo i {
    color: #dc3545; /* Vermelho para inativo */
}

.edit i {
    color: #ffc107;
    margin-left: 5px;
}

/* Estilo para o modal da imagem */
#modalImg {
    border: none;
    background: none;
}

/* Estilo para observação e data */
#obs {
    width: 200px;
}

#data {
    width: 150px;
}

#quantia {
    font-size: 1.3em;
    font-weight: bold;
}

/* Estilo para o Formulário de Busca do Mercado Livre */
.form-busca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form-busca input[type="text"] {
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #007bff;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1.2em;
    transition: border-color 0.3s ease;
}

.form-busca input[type="text"]:focus {
    border-color: #0056b3;
}

.form-busca button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-left: -1px; /* Ajuste para alinhar perfeitamente com o campo de texto */
}

.form-busca button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .table th, .table td {
        padding: 8px;
    }

    button.btn-primary {
        font-size: 24px;
        padding: 10px 15px;
    }

    input[type="text"], button[type="submit"] {
        width: 100%;
    }

    .form-busca {
        flex-direction: column;
    }
}
