body{
    background-image: url('../midia/fundoCadastro.gif');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.container {
    margin-top: 12em;
    align-items: center;
}

form{
    width: 500px;
    margin-left: 14em;
    font-family: candara;
}



.box{
    background-color: rgb(75, 97, 97);
    width: auto;
    padding: 30px;
    border-radius: 50px;
    align-content: center;
}

.form-label{
    font-size: 20px
}

#title {
    text-align: center;
    font-family: Candara;
}