/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Navbar principal */
nav {
    background-color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
    position: relative;
}

.navbar-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #00bcd4;
}

/* Submenu */
.submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    z-index: 1000;
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: #555;
}

.navbar-item:hover .submenu {
    display: block;
}


.logout-link {
    margin-left: 50em;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}



.logout-link i {
    margin-right: 8px;
    font-size: 16px;
}

.logout-link:hover {
    background-color: #00bcd4;
    color: white;
    border-color: #00bcd4;
}

.logout-link:active {
    background-color: #0097a7;
}

img {
    margin-right: 5em;
    width: 100px;
}
