body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
}

#tabelona{
    background: #ffffff;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
}

h1 {
    color: #007bff;
}

h2{
    font-size: 3.5em;
    font:bold;
}

.btn-primary {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

button.btn-secondary{
    font-size: 25px;
    height: 60px;
    width: 150px;
    margin-bottom: auto;
    margin-left: auto;
}


.btn-secondary a {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

hr{
    border: none; height: 2px; background-color: black;
}
.display {
    width: 100%;
    max-width: 1500px;
    font-size: 1.2em;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.display th, .display td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.display th {
    background-color: #007bff;
    color: #fff;
}

.display  tr:nth-child(even) {
    background-color: #f2f2f2;
}

.display  tr:hover {

    background-color: #e9ecef !important;

}

.dt-paging nav{
    background-color: transparent !important;
    box-shadow: none !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled.previous,
div.dt-container .dt-paging .dt-paging-button.disabled.next{
    background-color: transparent !important;
    color: gray;
}

.dt-paging-button.first,
.dt-paging-button.last {
    display: none !important;
}


.dt-button{
    background-color: #204369 !important;
    color: white !important;
    border: solid 2px black !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease !important;
}

.dt-button:hover{
    background-color: black !important;
    color: white !important;
    border: black !important;
    border-radius: 5px !important;
}