body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
}

th{
    background-color:#004A8D!important;
}

#tabelona{
    background: #ffffff;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
}

h1 {
    color: #004A8D;
}

h2{
    font-size: 3.5em;
    font:bold;
}

.info{
    display: none;
}


.btn-primary {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #004A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004A8D;
    border-color: #004A8D;
}

button.btn-secondary{
    background-color: #F7941D;
    font-size: 25px;
    height: 60px;
    width: 150px;
    margin-bottom: auto;
    margin-left: auto;
}


.btn-secondary a {
    background-color: #F7941D;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

hr{
    border: none; height: 2px; background-color: black;
}
.display {
    width: 100%;
    max-width: 1500px;
    font-size: 1.2em;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.display th, .display td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.display th {
    background-color: #007bff;
    color: #fff;
}

.display  tr:nth-child(even) {
    background-color: #f2f2f2;
}

.display  tr:hover {

    background-color: #e9ecef !important;

}

.dt-paging nav{
    background-color: transparent !important;
    box-shadow: none !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled.previous,
div.dt-container .dt-paging .dt-paging-button.disabled.next{
    background-color: transparent !important;
    color: gray;
}

.dt-paging-button.first,
.dt-paging-button.last {
    display: none !important;
}


.dt-button{
    background-color: #004A8D!important;
    color: white !important;
    border: solid 2px black !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease !important;
}

.dt-button:hover{
    background-color: black !important;
    color: white !important;
    border: black !important;
    border-radius: 5px !important;
}


@media (max-width: 772px) {

    .btn-secondary {
        display: block;
        margin: auto;
        width: 300px;
        margin-bottom: 10px!important;
        padding: 10px 20px;
        background-color: #004A8D;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 28px;
        transition: background-color 0.3s ease;
    }

    

     .ocultar{
      display: none;
     }
     .acoes{
      margin-left: 50px;
     }

     h2 b{
        font-size: 44px!important;
     }

     span.navbar-toggler-icon{
        color: white!important;
        background-color: white;
    }

    td .acoes{
      margin-top: 5px;
      margin-right: 10px;
      font-size: 28px!important;
    }
 
    .navbar-toggler{
        border: solid 2px white;
      }

    .info{
        text-align: center;
        display: grid;
     }

     
table{
    margin-left: 70px;
}

    .container{
        padding: 10px;
    }


    th, td{
     font-size: 20px;
    min-width: 215px!important;
        height: 90px;
    }
    .form-busca input[type="text"]{
     width: 100px;
     font-size: 14px;
    }
    
   }
 



   @media (max-width: 540px) {

    .btn-secondary {
        display: block;
        margin: auto;
        width: 250px;
        margin-bottom: 10px!important;
        padding: 10px 20px;
        background-color: #004A8D;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 28px;
        transition: background-color 0.3s ease;
    }

     .ocultar{
      display: none;
     }
     .acoes{
      margin-left: 50px;
     }

     h2 b{
        font-size: 40px!important;
     }

     span.navbar-toggler-icon{
        color: white!important;
        background-color: white;
    }

    td .acoes{
      margin-top: 5px;
      margin-right: 10px;
      font-size: 28px!important;
    }
 
    .navbar-toggler{
        border: solid 2px white;
      }

    .info{
        text-align: center;
        display: grid;
     }
 
    th, td{
     font-size: 14px;
    min-width: 100px!important;
        height: 90px;
    }
    .form-busca input[type="text"]{
     width: 100px;
     font-size: 14px;
    }
    
    }
 
 
   @media (max-width: 480px) {


    .btn-secondary {
        display: block;
        margin: auto;
        width: 200px;
        margin-bottom: 10px!important;
        padding: 10px 20px;
        background-color: #004A8D;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 28px;
        transition: background-color 0.3s ease;
    }

     .ocultar{
      display: none;
     }
     .acoes{
      margin-left: 50px;
     }

     h2 b{
        font-size: 36px!important;
     }

     span.navbar-toggler-icon{
        color: white!important;
        background-color: white;
    }

    td .acoes{
      margin-top: 5px;
      margin-right: 10px;
      font-size: 28px!important;
    }
 
    .navbar-toggler{
        border: solid 2px white;
      }

    .info{
        text-align: center;
        display: grid;
     }
 
    th, td{
     font-size: 14px;
    min-width: 100px!important;
        height: 90px;
    }
    .form-busca input[type="text"]{
     width: 100px;
     font-size: 14px;
    }
    
    }