body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #007bff;
}
.btn-primary {
    display: block;
    margin:  auto ;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.table {
    
    font-size: 1.5em;
}
.table th {
    background-color: #007bff;
    color: #fff;
}
.table td, .table th {
    text-align: center;
}
.acoes {
    display: flex;
    justify-content: center;
}
.muda_status i, .edit i {
    cursor: pointer;
    
}
.muda_status i:hover {
    color: #007bff;
}
.edit i:hover {
    color: #28a745;
}

.acoes i {
    font-size: 1.5em;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.acoes i:hover {
    color: #007bff;
}

.muda_status .inativo i {
    color: #28a745; /* Verde para ativo */
}

.muda_status .ativo i {
    color: #dc3545; /* Vermelho para inativo */
}

.edit i {
    color: #ffc107; 
}       


